anyio==4.12.1
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
diskcache==5.6.3
Django==6.0.3
idna==3.11
Jinja2==3.1.6
llama_cpp_python==0.3.16
MarkupSafe==3.0.3
numpy==2.4.3
requests==2.32.5
sqlparse==0.5.5
sse-starlette==3.3.2
starlette==0.52.1
typing_extensions==4.15.0
urllib3==2.6.3
